---
name: Release

on:
  push:
    tags:
      - "*"

permissions: {}

jobs:
  release:
    name: Release
    uses: ./.github/workflows/release.yml
    permissions:
      contents: read
      id-token: write
      packages: write
    with:
      enable-arm64: true
