---
name: Build

on:
  pull_request:
    branches:
      - main

permissions: {}

jobs:
  build:
    name: Build
    permissions:
      contents: read
    strategy:
      fail-fast: false
      matrix:
        platform:
          - amd64
          - arm64
    runs-on: ${{ matrix.platform == 'amd64' && 'ubuntu-latest' || matrix.platform == 'arm64' && 'ubuntu-24.04-arm' }}
    steps:
      - name: Harden Runner
        if: github.event.repository.private == false
        id: harden_runner
        uses: step-security/harden-runner@20cf305ff2072d973412fa9b1e3a4f227bda3c76 # v2.14.0
        with:
          egress-policy: audit

      - name: Checkout
        id: checkout
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
        with:
          persist-credentials: false

      - name: Set Up Container Structure Test
        id: setup_container_structure_test
        uses: ministryofjustice/action-setup-container-structure-test@d0636fa19d04c3fc71c30ae4eb8da03be63dbd4b # v1.0.0

      - name: Build
        id: build
        uses: docker/build-push-action@263435318d21b8e681c14492fe198d362a7d2c83 # v6.18.0
        with:
          context: .
          file: Containerfile
          push: false
          tags: ${{ github.sha }}-${{ matrix.platform }}

      - name: Test
        id: test
        shell: bash
        env:
          CONFIGURATION_FILE: test/container-structure-test-${{ matrix.platform }}.yml
          PLATFORM: ${{ matrix.platform }}
        run: |
          container-structure-test test --platform "linux/${PLATFORM}" --config "${CONFIGURATION_FILE}" --image "${GITHUB_SHA}-${PLATFORM}"

      - name: Scan
        id: scan
        uses: aquasecurity/trivy-action@b6643a29fecd7f34b3597bc6acb0a98b03d33ff8 # v0.33.1
        with:
          image-ref: ${{ github.sha }}-${{ matrix.platform }}
          severity: HIGH,CRITICAL
          ignore-unfixed: true
          exit-code: 1
